{% extends "layout.jinja2" %}

{% block title %}
<title>Feedback submitted!</title>
{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

    <h3 class="margin-md-v"> Your announcement has been submitted!</h3>

    <p4> Your announcement is now available via the 'Announcements' tab in the Navigation bar. Students will be notified via email of the new announcement.</p4>

    <p4> Thank you!</p4>

{% endblock %}
