{% extends "layout.jinja2" %}

{% block title %}
<title>TA Dashboard</title>
{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

<div class="module card flex-row flex-wrap margin-md-v">
    <div class="thumbnail-container card-header border-0">
        <img src="/static/images/logo.png">
    </div>
    <div class="text-container card-block px-2">
        <h4 class="card-title">View all submssions</h4>
		<div class="margin-md-v">
            <a href="complete" class="btn btn-primary"> Go to page </a>
        </div>
    </div>
</div>

<div class="module card flex-row flex-wrap margin-md-v">
    <div class="thumbnail-container card-header border-0">
        <img src="/static/images/logo.png">
    </div>
    <div class="text-container card-block px-2">
        <h4 class="card-title">Comment on an assignment</h4>
		<div class="margin-md-v">
            <a href="submissions" class="btn btn-primary"> Go to page </a>
        </div>
    </div>
</div>


<div class="module card flex-row flex-wrap margin-md-v">
    <div class="thumbnail-container card-header border-0">
        <img src="/static/images/logo.png">
    </div>
    <div class="text-container card-block px-2">
        <h4 class="card-title">Create Announcement</h4>
		<div class="margin-md-v">
            <a href="create_announcement" class="btn btn-primary"> Go to page </a>
        </div>
    </div>
</div>


{% endblock %}

