{% extends "layout.jinja2" %}

{% block style %}
<style>
/*	.announcements-container {
		position: absolute; 
		top: 25px; 
		right: 0px;
		background: whitesmoke;
	}*/

	.modules-container {
		width: 50%;
	}
</style>
{% endblock %}

{% block content %}
<ul class="nav flex-column" style="width: 250px; position: fixed;">
	Outline
	{% for module in all_modules %}
  	<li class="nav-item">
    	<!-- <a class="nav-link active" href="#">Active</a> -->
    	<a class="nav-link" href="#{{module['number']}}">{{module["number"]}}: {{module["name"]}}</a>
  	</li>
  	{% endfor %}
</ul>

<div class="announcements-container">

</div>

<div class="modules-container">
	{% for module in all_modules %}
		<div class="module card flex-row flex-wrap margin-md">
	        <a name="{{module['number']}}"></a>
	        <div class="thumbnail-container card-header border-0">
	            <img src="/static/images/logo.png" alt="" style="max-width: 100%; max-height: 100%;">
	        </div>
	        <div class="text-container card-block px-2">
	            <h4 class="card-title">Module {{module["number"]}}: {{module["name"]}}</h4>
	            <p class="card-text">{{module["description"]}}</p>
				<div class="margin-md">
	            	<a href="#" class="btn btn-primary {{'disabled' if not module['completed']}}">Get Started</a>
	            </div>
	        </div>
	        {{"<div class='locked-overlay'><i class='fas fa-lock'></i></div>" if not module["completed"]}}
		</div>
	{% endfor %}
</div>
{% endblock %}

<script>
	$(document).ready(function() {

	});
</script>
