<!DOCTYPE html>

<html lang='en'>
<head> </head>
<body> 

<p> Dummy page </p>


<div class="img-rounded" style="float: left; background-color: #fffbcf; width: 315px; height: 260px; border: 1px solid black; margin: 10px;">
<h3 style="color: #ffffff; background-color: #2a4e57; text-align: center; margin: 0px; padding: 0px;">Announcements</h3>
<div id="cc-homepage-announcements" style="height: 200px; overflow-x: hidden; overflow-y: auto; padding: 6px; text-align: left;"> sike you thought </div>
</div>

</body>