<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}
	<title>Layout</title>
	{% endblock %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
</head>

<style>
	html {
		scroll-behavior: smooth;
	}

	.container {
		position: relative;
		min-height: 100vh;
	}

	.navbar {
		background: #84dbce !important;
	}

	.navlink.active {
		color: dodgerblue;
	}

	.margin-md-v {
		margin: 10px 0px 10px;
	}

	.locked-overlay {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(245, 245, 245, .75);
	}

	.locked-overlay i {
		font-size: 50px;
		color: gray;
	}

	.footer {
		width: 100%;
		background: #84dbce;
		text-align: center;
		padding: 25px 0px 25px;
	}
</style>
{% block style %}
{% endblock %}

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  	<span class="navbar-brand" href="#">
	  		LionBase Certificate Program
	  	</span>
	  	<div class="collapse navbar-collapse">
	    	<ul class="navbar-nav mr-auto">
		      	<li class="nav-item active">
		        	<a class="nav-link" href="/homepage">Home</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="/modules">Modules</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="/announcements">Announcements</a>
		      	</li>
	      	</ul>
	      	<span class="my-2 my-lg-0">
		      	<a class="nav-link" href="/login">Log Out</a>
		    </span>
	  	</div>
	</nav>

	<div class="container">
		{% block content %}
		{% endblock %}
	</div>

	<div class="footer">
		<i class="far fa-copyright"></i>
		2020 LionBase, LLC.
	</div>

<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>
	<script src="https://kit.fontawesome.com/0f7cc584c9.js"></script>
	<script>
		// Enable popovers
		$(document).ready(() => {
			$(() => {
  				$('[data-toggle="popover"]').popover();
			});

			$(".navbar a").on("click", () => {
   				$(".navbar").find("li.active").removeClass("active");
   				$(this).parent("li").addClass("active");
			});
		});
	</script>

</body>
</html>
