{% extends "layout.jinja2" %}

{% block title %}
<title>Modules</title>
{% endblock %}
  
{% block style %}
<style>
  	html {
		scroll-behavior: smooth;
	}

	.module .thumbnail-container {
		display: inline-block; width: 30%
	}
	
	.module .text-container {
		position: relative;
		display: inline-block; 
		width: 60%; 
		padding: 10px;
	}
</style>
{% endblock %}
  
{% block content %}	
{% for module in all_modules %}
<div class="module card flex-row flex-wrap margin-md-v">
	<a name="{{module['number']}}"></a>
    <div class="thumbnail-container card-header border-0">
        <img src="/static/images/logo.png" alt="" style="max-width: 100%; max-height: 100%;">
    </div>
    <div class="text-container card-block px-2">
        <h4 class="card-title">Module {{module['number']}}: {{module["name"]}}</h4>
        <p class="card-text">{{module["description"]}}</p>
		<div class="margin-md-v">
            <a href="/modules/{{module['number']}}" class="btn btn-primary {{'disabled' if not module['completed']}}">Get Started</a>
        </div>
    </div>
    {{"<div class='locked-overlay'><i class='fas fa-lock'></i></div>" if not module["completed"]}}
</div>
{% endfor %}
{% endblock %}