{% extends "layout.jinja2" %}

{% block title %}
<title>Module {{ module['number'] }}</title>
{% endblock %}

{% block style %}  
<style>
</style>
{% endblock %}
  
{% block content %}		
{% for submodule in module['submodules'] %}
<div class="module card flex-row flex-wrap margin-md-v">
	<a name="{{submodule['number']}}"></a>
    <div class="thumbnail-container card-header border-0">
        <h4 class="card-title" style="font: 20pt">{{submodule['number']}}: {{submodule['name']}}</h4>
    </div>
    <div class="text-container card-block px-2">
        <p class="card-text" style="font: 14pt">{{submodule['description']}}</p>
		<div class="margin-md-v">
            <a href="/modules/{{module['number']}}/{{submodule['number']}}/theory" class="btn btn-primary {{'disabled' if submodule['locked']}}">Theory</a>
        </div>
        <div class="margin-md-v">
            <a href="/modules/{{module['number']}}/{{submodule['number']}}/case" class="btn btn-primary {{'disabled' if submodule['locked']}}">Case</a>
        </div>
    </div>
    {{"<div class='locked-overlay'><i class='fas fa-lock'></i></div>" if submodule['locked']}}
</div>
{% endfor %}
	
<div class="card text-center">
	<div class="card-header">
		Ready to test your skills? Click below!
	</div>
	<div class="card-body">
	<p class="card-text">
		This link will take you to a live jupyter notebook. Feel free to partner up to solve the tasks, but mention them in your submission. To submit, download your notebook and upload using the button below. then click submit.
	</p>
	<a href="{{module['exercise']}}" target="_blank" class="btn btn-primary">Go to Assignment</a>

    <div class "btn" style="padding-top: 10px">
        <form action="/submit/{{module['number']}}">
            <input type="file" id="myFile" name="filename">
             <input type="submit">
        </form>
    </div>


	</div>
</div>
{% endblock %}