{% extends "layout.jinja2" %}

{% block title %}
<title>New Module Uploaded!</title>
{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

    <h3 class="margin-md-v"> The new module has been uploaded!</h3>

    <p4> The new module has been uploaded successfully and is now available for students to begin. Please proceed to the submodule creation page to create a submodule or add additional submodules</p4>

    <p4> Thank you!</p4>

{% endblock %}
