{% extends "layout.jinja2" %}

{% block title %}
<title>Password Reset</title>
{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

    <h3 class="margin-md-v">Your password reset request has been submitted!</h3>

    <p4>Please check your email soon for further instructions.</p4>

    <p4> Thank you!</p4>

{% endblock %}
