{% extends "layout.jinja2" %}


<html lang="en">
    {% block head %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}
        <title>Password Reset</title>
        {% endblock %}
    </head>
    {% endblock %}

    {% block content %}
    <body>
        <div class="container">
            <div class="row " style="margin-top: 50px">
                <div class="col-md-6 col-md-offset-3 form-container">
                    <h2>Password Reset</h2>
                    <p>If you've forgotten your password, please enter your email below.</p>
                    <form role="form" method="post" id="reused_form">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="confirm_password">Confirm password:</label>
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <button>Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#reused_form').submit(function(e){
            var form = this;
            e.preventDefault();
            if( $('#password').val()==$('#confirm_password').val() ) {
                form.submit();
            } 
            else {
                alert('Password Mismatch');
                return false;
            }
        });
    });
    </script>
    {% endblock %}
</html>