{% extends "layout.jinja2" %}

{% block title %}
<title>Submodule {{module_number}}.{{submodule_number}}</title>
{% endblock %}

{% block style %}
<style>
.customButton{
    top : 0;
    right : 0;
    position: fixed;
 }
</style>
{% endblock %}
  
{% block content %}
<div class="card text-center" style="margin: 20px 0px 20px">
	<div class="card-header">
		Go through this jupyter notebook carefully
	</div>

	{% if currentelement == 1 %}
	<div class="card-body">
	    <p class="card-text">
		    Once you are done, click on Next to go to the next segment!
	    </p>
	    <div style="float: right">
	        <a href="/modules/{{module_number}}/{{submodule_number}}/{{currentelement + 1}}" class="btn btn-primary">Next</a>
	    </div>

	    <div style="float: left">
	        <a href="/modules/{{module_number}}" class="btn btn-primary">Back to Module</a>
	    </div>
	</div>


	{% elif currentelement == maxelements %}
	<div class="card-body">
	    <p class="card-text">
		    Once you are done, click on Complete to finish this submodule! You will be taken to a short feedback survey
	    </p>
	    <div style="float: right">
	        <a href="/complete/{{module_number}}/{{submodule_number}}" class="btn btn-primary">Complete</a>
	    </div>

	    <div style="float: left">
	        <a href="/modules/{{module_number}}/{{submodule_number}}/{{currentelement - 1}}" class="btn btn-primary">Previous</a>
	    </div>
	</div>

	{% elif currentelement < maxelements %}
	   <div class="card-body">
	        <p class="card-text">
		       Once you are done, click on Next to go to the next segment!
	        </p>
	        <div style="float: right">
	            <a href="/modules/{{module_number}}/{{submodule_number}}/{{currentelement + 1}}" class="btn btn-primary">Next</a>
	        </div>

	        <div style="float: left">
	            <a href="/modules/{{module_number}}/{{submodule_number}}/{{currentelement - 1}}" class="btn btn-primary">Previous</a>
	        </div>
	    </div>
	{% endif %}

</div>

<div class="embed-responsive embed-responsive-16by9">
	<iframe src="{{currentelement}}/notebook"></iframe>
</div>

<div class="card text-center" style="margin: 20px 0px 20px">
	<div class="card-header">
		Go through this jupyter notebook carefully
	</div>

	{% if currentelement == 1 %}
	<div class="card-body">
	    <p class="card-text">
		    Once you are done, click on Next to go to the next segment!
	    </p>
	    <div style="float: right">
	        <a href="/modules/{{module_number}}/{{submodule_number}}/{{currentelement + 1}}" class="btn btn-primary">Next</a>
	    </div>

	    <div style="float: left">
	        <a href="/modules/{{module_number}}" class="btn btn-primary">Back to Module</a>
	    </div>
	</div>


	{% elif currentelement == maxelements %}
	<div class="card-body">
	    <p class="card-text">
		    Once you are done, click on Complete to finish this submodule! You will be taken to a short feedback survey
	    </p>
	    <div style="float: right">
	        <a href="/complete/{{module_number}}/{{submodule_number}}" class="btn btn-primary">Complete</a>
	    </div>

	    <div style="float: left">
	        <a href="/modules/{{module_number}}/{{submodule_number}}/{{currentelement - 1}}" class="btn btn-primary">Previous</a>
	    </div>
	</div>

	{% elif currentelement < maxelements %}
	   <div class="card-body">
	        <p class="card-text">
		       Once you are done, click on Next to go to the next segment!
	        </p>
	        <div style="float: right">
	            <a href="/modules/{{module_number}}/{{submodule_number}}/{{currentelement + 1}}" class="btn btn-primary">Next</a>
	        </div>

	        <div style="float: left">
	            <a href="/modules/{{module_number}}/{{submodule_number}}/{{currentelement - 1}}" class="btn btn-primary">Previous</a>
	        </div>
	    </div>
	{% endif %}

</div>

{% endblock %}


