{% extends "layout.jinja2" %}

{% block title %}
<title>Submodule {{submodule_number}}</title>
{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}
  
{% block content %}
<div class="embed-responsive embed-responsive-16by9">
	<iframe src="/static/notebooks/{{submodule_number}}_{{type}}.html"></iframe>
</div>
{% endblock %}