{% extends "layout.jinja2" %}

{% block title %}
<title>Submitted!</title>
{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}

{% block content %}

    <h3 class="margin-md-v"> Your file has been submitted!</h3>

    <p4> Our TAs will look over your Assignment and provide feedback. Once that happens your next module will unlock itself.</p4>

    <p4> Take some well deserved rest! Or go through past modules!</p4>

{% endblock %}